.profile-image--style {
  border-radius: 100px;
}

.user-profile-card--padding {
  padding: 4px !important;
}

.user-details--height {
  height: unset !important;
}

.block-with-text {
  overflow: hidden;
  position: relative;
  line-height: 16px;
  max-height: 50px;
  text-align: center;
  margin-right: 0em;
  padding-right: 1em;
  font-style: italic;
}

.thumb-wrapper--style {
  height: 55px !important;
  float: left;
  width: unset !important;
}

.profile-pic-block {
  height: 40px;
  width: 40px;
}
.student-title--border {
  border: none !important;
  font-size: 12px;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.block-with-text:before {
  content: "...";
  position: absolute;
  right: 0;
  bottom: 0;
}

.vd-wrapper--border {
  border-bottom: 1px solid #ccc;
}

.blog-section--style {
  max-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 170px;
  white-space: nowrap;
  text-align: left !important;
  padding: 5px;
  font-weight: bold;
}

.blog-description {
  max-height: 140px;
  font-size: 12px;
  text-align: left;
  padding: 5px;
}

.blog-description h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 12px !important;
}

.profile-pic--style {
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-left: 5px;
}

.comment-box--style {
  height: 60px !important;
  background: white !important;
  border: none !important;
  color: black !important;
}

.student-title--align {
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}
