.classTextBox{
    margin-bottom: 10px;
    background-color: white !important;
    height: 35px !important;
    font-size: 20px !important;
}

.changeColor{
    color: deepskyblue;
}

.classText {
color: darkgray;
font-size: 20px;
margin-right: 10px;
}
.btnMargin{
    margin-right: 10px;
}

.tableCheckBox {
    
    
    
}
  
