.filter-search{
    max-width: 50rem;
    margin: 69px auto;
    cursor: pointer;
}

.add-padding{
  padding: 20px;
}

.filter-teacher select {
  width: 100%;
}

.filter-search .list-result{
  background-color: white;
}
.chip-body {
  height: 20px;
  min-width: 55px;
  width: auto;
  background-color: #2196f3;
  color: #ffffff;
  padding: 0px;
  text-align: center;
  border-radius: .25rem;
  display: inline-block;
  margin-left: 3px;
  margin-bottom: 3px;
}
.filter-search .chip-body {
  height: 30px;
  top: 60px;
  left: 0px;
}


.filter-search .search-result {
  overflow-y: scroll;
}
.filter-search .container {
  padding-left: 20px;
}

.filter-search .chip {
  position: absolute;
    top: -15px;
}

.teacher-search-icon{
  padding: 11px;
    background-color: #232838;
    color: #ffffff;
    position: absolute;
    right: -20px;

}

.input-group-btn > .btn {
    border-left-width:0;left:-2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }
  .input-group .form-control:focus {
   box-shadow:none;
   -webkit-box-shadow:none; 
   border-color:#cccccc; 
  }

  .caret-icon{
    position: absolute;
    top: 30px;
    right: 34px;
  }

.filter-teacher{
    display: inline-block;
    width: 40%;
}
.label-multislect{
  position: absolute;
}

.search-teacher{
   width: 50% !important;
   padding-top: 20px;
    
}

.search-teacher button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }

  .rm-mrgn{
    margin-top: 20px !important;
  }
 
  .header-container {
    top: 0;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }

  .profile-image{
    height: 160px;
  }

  .validation-message{
    font-size: 15px;
  }


  .calendar-modal{
    width:80%;
    height:90%;
  }

  .calendar-modal .body{
    min-height: 70%;
  }


  @media only screen and (max-width: 600px) {
    .filter-search{
        max-width: 20rem;
        min-height: 100%;
        
    }
    .input-box{
      margin: 8px -12px 1px -12px;
    }
    .border_1px{
      height: 100px!important;
    }
    .vd-wrapper .vd-content {
      padding: 5px 10px 0px;
      border: 1px solid #d5d5d5;
      color: #000000;
  }
  .charge-container{
    height: 65px;
    width: 59px;
    margin-top: 10px;
    margin-left: -26px;
    font-size: 15px;
  }

  }