.filter-search{
    max-width: 50rem;
    margin: 20px auto;
}

.input-group-btn > .btn {
    border-left-width:0;left:-2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }
  .input-group .form-control:focus {
   box-shadow:none;
   -webkit-box-shadow:none; 
   border-color:#cccccc; 
  }

.filter-teacher{
    display: inline-block;
    width: 40%;
}
.search-teacher{
    width: 50% !important;
    display: inline-flex !important;
    margin-left: 20px;
}

.search-teacher button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }

  form.example button:hover {
    background: #0b7dda;
  }
  

@media only screen and (max-width: 600px) {
    .filter-search{
        max-width: 20rem;
        
    }
  }