.details-wrapper {
    padding-top: 56px;
    background: #fff;
    .main-setion {
        margin-bottom: 40px;
        margin-top: 30px;
    }
    input {
        position: static;
        opacity: 1;
        width: 100%;
        height: 38px;
    }
    .dv-star-rating-star {
        margin-bottom: 0;
    }
    .container {
        margin-bottom: 0;
    }
    .profile-img {
        max-width: 100%;
        border: 1px solid gray;
        padding: 20px;
    }
    
    .top-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0 0 0;
        h4 {
            margin-bottom: 2px;
        }
        .sub-title {
            line-height: 1;
            text-transform: uppercase;
            font-size: 12px;
        }
        
        
    }
    .icon-section {
        margin-bottom: 10px;
        .icon {
            width: 35px;
            text-align: center;
            margin-right: 15px;
        }
        a {
            color: #000000;
            display: block;
        }
        .btn {
            padding: 0;
        }
    }

    .vd-section {
        h4 {
            .fas {
                margin-left: 20px;
                vertical-align: bottom;
            }
        }
    }
    .comments-hdr-section {
        margin-top: 30px;
    }
    .comment-thread-element {
        .comment-content {
            .icon-section {
                margin-bottom: 0;
            }
        }
        
    }
}

.comments-hdr-section {
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    padding: 0 15px;
    display: flex;
    align-items: center;
    .author-thumbnail {
        width: 40px;
    }
    .comments-input {
        flex: 1;
        margin: 0 15px;
        .auto-input {
            border-radius: 0;
            border: 0;
            padding: 0;
        }
    }
}
.comment-thread-element {
    display: flex;
    margin: 5px 0;
    background-color: #f9f9f9;
    padding: 15px;
    .author-thumbnail {
        width: 40px;
    }
    .comment-content {
        flex: 1;
        margin: 0 15px;
        font-size: 14px;

        .date {
            color: gray;
        }
        p {
            margin-top: 5px;
        }
    }
    
}
