.details-wrapper {
    // padding-top: 56px;
    .profile-img-section {
        margin-top: -100px;
        background: #ffffff;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        border: 2px solid rgba(3, 97, 121, 1);
    }
    .btn-outline-primary {
        color: #ffb400;
        border-color: #ffb400;
        font-size: 14px;
        &:hover {
            background-color: #0087a7;
            color: #ffffff;
        }
    }
    .bnr-section {
        background-color: #0087a7;
        height: 200px;
    }
    .bnr-img {
        width: 100%;
        opacity: 0.3;
    }
    .bnr-img1 {
        width: 100%;
        position: absolute;
    }
    .profile-section {
        background-color: #050508;
        padding: 30px 0;
    }
    .main-setion {
        margin-bottom: 40px;
        margin-top: 30px;
        color: #e3e3e3;
    }
    .description {
        margin-top: 10px;
        font-weight: 300;
    }
    input {
        position: static;
        opacity: 1;
        width: 100%;
        height: 38px;
    }
    .ratings-wrpr {
        display: inline-block;
        vertical-align: top;
        margin-left: 10px;
    }
    .dv-star-rating-star {
        margin-bottom: 0;
    }
    .container {
        margin-bottom: 0;
    }
    .profile-img {
        max-width: 100%;
        position: relative;
        top: 15px;
    }
    
    .top-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0 0 0;
        h4 {
            margin-bottom: 2px;
        }
    }
    .sub-title {
        line-height: 1;
        text-transform: uppercase;
        font-size: 12px;
        color: #818181;
    }
    .icon-section {
        justify-content: center;
        .icon {
            text-align: center;
            margin-right: 5px;
            &:last-child {
                margin-right: 0;
            }
            button {
                color: #818181;
                span {
                    font-size: 0.75rem;
                    display: block;
                }
            }
        }
        a {
            color: #000000;
            display: block;
        }
        .btn {
            padding: 0;
        }
    }

    .vd-section {
        h4 {
            .fas {
                margin-left: 20px;
                vertical-align: bottom;
            }
        }
    }
    .comments-hdr-section {
        padding: 5px 0;
    }
    .comment-thread-element {
        .comment-content {
            .icon-section {
                margin-bottom: 0;
            }
        }
        
    }
    h3 {
        margin-bottom: 0;
        font-weight: 300;
    }
    .top-courses-section {
        background: #11111b; //#026078;
        padding: 30px 0;
        .container-margin-20 {
            margin: 0 !important;
        }
        h4 {
            font-weight: 300;
            font-size: 30px;
            color: #fff;
        }
        .tray-background--color, .content-container--background {
            background-color: transparent;
        }
    }
}
.comments-section {
    padding: 30px 0;
}
.comments-hdr-section {
    display: flex;
    align-items: center;
    .author-thumbnail {
        width: 40px;
        height: 40px;
        background: #0087a7;
        border-radius: 50%;
        img {
            width: 100%;
        }
    }
    .comments-input {
        flex: 1;
        margin: 0 15px;
        .auto-input {
            border: 0;
            padding: 0 15px;
            background: #11111b;
            cursor: text;
        }
    }
    
}
.comment-thread-element {
    display: flex;
    margin: 5px 0;
    .author-thumbnail {
        width: 40px;
        height: 40px;
        background: #0087a7;
        border-radius: 50%;
        img {
            width: 100%;
        }
    }
    .comment-content {
        flex: 1;
        margin: 0 15px;
        font-size: 14px;
        background-color: #f9f9f9;
        color: #000000;
        padding: 15px;
        position: relative;
        border-radius: 3px;
        .comment-hdr {
            background: #e5e5e5;
            margin: -15px -15px 0;
            border-radius: 3px 3px 0 0;
            padding: 2px 15px;
        }
        .fa-caret-left {
            font-size: 30px;
            position: absolute;
            left: -7px;
            z-index: -1;
            color: #d6d6d6;
            top: 3px;
        }
        .date {
            color: gray;
        }
        p {
            margin-top: 5px;
        }
    }
    
}
