.profile-image--style {
  border-radius: 100px;
}

.user-profile-card--padding {
  padding: 4px !important;
}

.user-details--height {
  height: unset !important;
  text-align: left;
}

.rating-position {
  position: absolute;
}
