.teacher-details{
    width : 150px;
    height: 150px;
    border-radius: 50%;
}

.header{
    padding: 0px 0px 25px 0px;
}

.margn-top {
    margin-top: 20px;
}
.teacher-start-rating{
    top: 10px;
}

.teacher-details-okay{
    text-align: center;

}
/*For the Whole Body of Modal*/
.styles_modal__gNwvD {
    min-width: 50%;
    min-height: 70%;
    position: relative;
    padding: 1.2rem;
    background: #ffffff;
    background-clip: border-box;
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.25);
    margin: auto;
}
/*For Submit Button*/
.btn-primary {
    color: honeydew;
    background-color: olive;
    border-color: yellowgreen;
}
.fileOne{
    padding-right: 10px;
}

textarea.form-control {
    height: auto;
    margin-top: 15px;
    padding-top: 15px;
}
.teacher{
    float: right;
}
.submit{
    float: right;
}
.fa-angle-right:before {
    font-size: x-large;
    padding-left: 40px;
}