.teacher-details{
    width : 150px;
    height: 150px;
    border-radius: 50%;
}

.header{
    padding: 25px;
}

.margn-top {
    margin-top: 20px;
}
.teacher-start-rating{
    top: 10px;
}

.teacher-details-okay{
    text-align: center;

}