.home-header-logo {
    width: 50px;
    float: left;
}

.home-header-nav-item {
    color: #FFF;
    height: 54px;
    padding: 2px 10px;

}

.home-header-nav-item--position {
    position: relative;
    float: right;

}

.home-header-link {
    color: #FFF !important;
    cursor: pointer;
}

.home-header-link:hover {
    color: #FFF;
    cursor: pointer;
    text-decoration: none;
}

.home-header-link:visited {
    color: #FFF;
    cursor: pointer;
}

.home-header-link:focus {
    color: #FFF;
    cursor: pointer;
}

.home-header-icon--size {
    font-size: 26px !important;
}

.home-header-text-link-status {
    display: none;
}

@media screen and (min-width:768px) {
    .home-header-icon--size {
        font-size: inherit !important;
    }

    .home-header-text-link-status {
        display: inline-block;
    }
}