.profile-image--style {
  border-radius: 100px;
}

.user-profile-card--padding {
  padding: 4px !important;
}

.user-details-tray--style {
  text-align: center;
  background: white !important;
  border: none !important;
  color: black !important;
}

.user-title {
  width: 120px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 600;
  margin-bottom: 0;
}

.charge-container {
  background: grey;
  height: 70px;
  width: 70px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  color: white;
  margin-left: -5px;
}

.per-hour-title {
  font-size: 10px !important;
}

.tray-item--height {
  height: unset;
  align-items: center;
}

.profile-pic-list {
  height: 120px;
  width: 120px;
  border-radius: 60px;
}

.profile-pic-block {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background: #fff;
  overflow: hidden;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  display: inline-block;
}

.profile-pic--align {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tray-item--style {
  background: #4b4e68 !important;
}

.user-detail--align {
  text-align: left !important;
}

@media screen and (min-width: 768px) {
  .tray-item--height {
    height: 150px;
  }
  .user-title {
    width: 160px;
  }
}
