.profile-image--style {
  border-radius: 100px;
}

.user-profile-card--padding {
  padding: 4px !important;
}

.user-details--style {
  text-align: left;
}

.charge-container {
  background: grey;
  height: 70px;
  width: 70px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  color: white;
  margin-left: -5px;
}

.per-hour-title {
  font-size: 10px !important;
}

.tray-item--height {
  height: 150px;
  align-items: center;
}

.profile-pic-list {
  height: 120px;
  width: 120px;
  border-radius: 60px;
}

.profile-pic-block {
  height: 200px;
  width: 200px;
  border-radius: 100px;
}

.profile-pic--align {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .tray-item--height {
    height: unset;
  }
}
