.centered-form {
  margin-top: 60px;
}

.centered-form .panel {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.content-container {
  padding-top: 0px;
}

.panel-heading {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.panel-default {
  padding-top: 56px;
  height: 100%;
  width: 100%;
}

.center-form {
  height: 100vh;
  margin: 0 auto;
}

form input[type="email"] {
  border-radius: 4px;
  border: solid 0.5px grey;
  background-color: white;
  height: 45px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: grey !important;
}

form input[type="submit"] {
  border-radius: 4px;
  border: solid 0.5px grey;
  background-color: black;
  height: 45px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: white !important;
  margin-top: 10px;
}

form input[type="number"] {
  border-radius: 4px;
  border: solid 0.5px grey;
  background-color: white;
  height: 45px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: grey !important;
}

form input[type="text"] {
  border-radius: 4px;
  border: solid 0.5px grey;
  background-color: white;
  height: 45px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: grey !important;
}
form input[type="password"] {
  border-radius: 4px;
  border: solid 0.5px grey;
  background-color: white !important;
  height: 45px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: grey !important;
}

form input[type="date"] {
  border-radius: 4px;
  border: solid 0.5px grey;
  background-color: white !important;
  height: 45px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: grey !important;
}

form label {
  font-family: Roboto;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
}
.label-color {
  color: black !important;
}

.dropdown-toggle {
  height: 45px;
  text-align: initial !important;
}

.dropdown-toggle::after {
  position: absolute !important;
  right: 10px !important;
}

.container-padding {
  padding-top: 0px !important;
}

.thumbnail-style {
  width: 200px !important;
  height: 200px !important;
  border: 1px solid #dee2e6 !important;
}

.file-margin {
  margin-top: 10px;
}
.text-block {
  position: absolute;
  bottom: 64px;
  width: 200px;
  height: 30px;
  background-color: black;
  opacity: 0.5;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.blink-text {
  color: white;
  animation: blink 1s linear infinite;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
