.rating-position {
  position: absolute;
}
.video-margin {
  margin-top: 25px
}
.views {
  color: #868383;  
}
.video-meta-data {
  display: flex;
  flex-direction: row;
  flex-flow: row;
  justify-content: space-between;
}
.video-meta-data span small {
  display: block;
  color: #141414
}