$height : 70px;
$bcolor: #fff;
$color: #000;

.adjust-top {
    position: relative;
    top: $height!important;
    min-height: 100vh;
    background-color: $bcolor;
    color: $color;
}
.extend {
    padding-top: 20px;
    max-height: 500px;
    overflow: hidden;
}
button {
    margin: 2px!important
}
form {
    padding: 0!important
}
.border-right {
    border-right: 1px solid #f7f7f7;
}
.own-progress{
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
}
.own-progress-bar{
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #007bff;
    transition: width .6s ease;
}