.slider-main {
    .slick-slide {
        padding: 2px;
        div {
            
            height: 100px;
            background: green;
            
        }
    }
    
}
.slick-slide {
    max-width: 400px;
}