body {
    background: #333546;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #FFF;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.content-container {
    position: relative;
    padding-top: 56px;
    overflow-y: auto;
    min-height: 100vh;
    top: 0px;
    bottom: 0px;
    margin: auto;
    background-color: #333546;

}

.content-container--background {
    background-color: #333546;
}

.pad5 {
    padding: 5px;
}

.pad_top5 {
    padding: 5px 0px 0px 0px;
}

.pad10 {
    padding: 10px;
}

.padR10 {
    padding-right: 10px;
}

.banner {
    width: 100%;
    height: 200px;
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    .banner {
        width: 100%;
        height: 150px;
    }
}