.notification-container {
  background-color: #4b4e68 !important;
  /* display: flex !important ;
  flex-direction: row !important;
  justify-content: center !important; */
}
.notification-cardbody {
  flex: 1 1 auto;
  background-color: #4b4e68 !important;
  padding: 1.25rem;
  position: relative;
}
.notification-button {
  background-color: black !important;
}
.notify {
  background-color: white !important;
}
/* .notification--Link {
  background-color: white !important;
} */
.notification-heading {
  font-weight: 300;
  color: white;
}
